.column {
  float: left;
  width: 33.33%;
  overflow: auto;
  height: 100vh;
}

.column::-webkit-scrollbar {
    display: none;
}

.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.column img {
    margin: 0.5vh 2vh;
}

.img {
  width: 100%;
  height: auto;
}

        /* Responsive layout - makes the menu and the content stack on top of each other */
        @media (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
